

@*<form id="form1">*@
    <div class="alert alert-info">您正在试图联系帅气的作者</div>
    <div>
        <h1>两种方式</h1>
        <h2>电话：18577300676</h2>
        <h2>QQ:1443739648</h2>
        <P>欢迎关于网站意见联系，不过不要半夜打哦</P>

</div>        @{

        }
